**/*.img
**/*.qcow2
**/.env_local.sh
**/.env.yml

# Created by .ignore support plugin (hsz.mobi)
.idea
.project
.settings
**/.DS_Store
**/venv
#
**/*.retry
**/json2hcl

#
**/tmp
**/.tmp
**/*.tar.gz

#
roles/utils/files/markdown/md-to-toc/build
roles/utils/files/markdown/md-to-toc/dist

# keys
#**/keys
#**/keys/*
!roles/_local/access/templates/keys
!roles/_local/access/files/keys
!roles/_local/utils/tasks/files/keys

#roles/utils/files/docker/

# py
/roles/utils/files/markdown/md_toc/md_toc.egg-info/
/roles/utils/files/markdown/md-to-toc/md_to_toc.egg-info

*.pyc


#
**/.kitchen
**/terraform.tfstate.d

## terrform ignore

**/.terraform
**/planfile.bin
**/*.tf.swp
**/terraform.tfvars
**/terraform.tfstate
**/terraform.tfstate.backup

#
roles/jenkins-agent/molecule/roles/*
!roles/jenkins-agent/molecule/roles/.gitkeep

**/.virtualenv

/Postgress/postgresDBSamples/
/k8s/asus2680v3/ssl-helm/files/

#
**/cloud-init-*-default.yml
**/prepare-virt-customize.sh
